# Visual Studio ignores
.vs/
*.vcxproj
*.filters
*.user
*.sln

# Build output
Debug/
Build

# UWP output
AppPackages/
BundleArtifacts/

# Misc
Notes/
*.html
*.gv
.vscode/
*.nsight*
_Temp/
*.opt
vs-chromium-project.txt
Screenshot*.jpg
StructLayoutSettings.json
Saved
