<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="bc1a33fa-59cc-49ff-9cbe-3f9f3421c414"
    Publisher="CN=SimonCoenen"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="bc1a33fa-59cc-49ff-9cbe-3f9f3421c414" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>D3D12_Research</DisplayName>
    <PublisherDisplayName>SimonCoenen</PublisherDisplayName>
    <Logo>Resources\AppAssets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10941.0" MaxVersionTested="10.0.10941.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="D3D12_Research.App">
      <uap:VisualElements
        DisplayName="D3D12_Research"
        Square150x150Logo="Resources\AppAssets\Square150x150Logo.png"
        Square44x44Logo="Resources\AppAssets\Square44x44Logo.png"
        Description="D3D12_Research"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Resources\AppAssets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Resources\AppAssets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>